fastapi==0.115.0
uvicorn==0.30.6
httpx==0.27.2
pandas==2.2.2
numpy==1.25.2
matplotlib==3.9.2
scipy==1.9.3

python-binance==1.0.19
python-telegram-bot==21.10
pytz==2024.1
cryptography==42.0.8
aiofiles==23.2.1
asyncio-throttle==1.0.2
